@font-face {
    font-family: 'Helvetica Neue';
    src: url('./HelveticaNeue-Bold.woff2') format('woff2'),
        url('./HelveticaNeue-Bold.woff') format('woff'),
        url('./HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./HelveticaNeue-Medium.woff2') format('woff2'),
        url('./HelveticaNeue-Medium.woff') format('woff'),
        url('./HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./HelveticaNeue-Black.woff2') format('woff2'),
        url('./HelveticaNeue-Black.woff') format('woff'),
        url('./HelveticaNeue-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./HelveticaNeue-Thin.woff2') format('woff2'),
        url('./HelveticaNeue-Thin.woff') format('woff'),
        url('./HelveticaNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./HelveticaNeue-Roman.woff2') format('woff2'),
        url('./HelveticaNeue-Roman.woff') format('woff'),
        url('./HelveticaNeue-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./HelveticaNeue-Light.woff2') format('woff2'),
        url('./HelveticaNeue-Light.woff') format('woff'),
        url('./HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

